<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:include src="menu.xhtml" />
        <h:form>
            <p:dataTable value="#{detalleController.lsDetalles}" var="clide">
                <p:column headerText="Factura">
                    <p:outputLabel value="JAVA000#{clide.factura.numFactura}" />
                </p:column>
                <p:column headerText="Cliente">
                    <p:outputLabel value="#{clide.factura.idCliente.nombre}" />
                </p:column>
                <p:column headerText="Detalle">
                    <p:commandButton value="Detalle" actionListener="#{detalleController.detalle(clide)}" update="dia" oncomplete="PF('w').show();"/>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:dialog widgetVar="w" id="dia" header="Productos Comprados" modal="true">
            <h:form>
                <p:dataTable value="#{detalleController.lsDetallesProductos}" var="det">
                    <p:column headerText="Producto">
                        <p:outputLabel value="#{det.idProducto.nombre}" />
                    </p:column>
                    <p:column headerText="Precio">
                        <p:outputLabel value="$ #{det.idProducto.precio}" />
                    </p:column>
                    <p:column headerText="Cantidad">
                        <p:outputLabel value="#{det.cantidad}" />
                    </p:column>
                    <p:column headerText="Subtotal">
                        <p:outputLabel value="$ #{det.precio}" />
                    </p:column>
                </p:dataTable>
                <p:outputLabel value="Total #{detalleController.total}" />
            </h:form>
        </p:dialog>
    </h:body>
</html>

