<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>  
            <p:growl id="messages"/>

            <p:menubar>
                <p:submenu label="Clientes" icon="pi pi-briefcase">
                    <p:menuitem value="Ver Facturas" url="facturas.xhtml" />
                </p:submenu>
                <p:submenu label="Productos" icon="pi pi-briefcase">
                    <p:menuitem value="Ver Productos" url="productos.xhtml" />
                </p:submenu>
            </p:menubar>
        </h:form>
    </h:body>
</html>

